<% include ../partials/header %>
 <div class="col-xs-3 text-center"></div>
  <div class="col-xs-6 col-xs text-center">
    <table class="table table-condensed table-hover text-center" >
    <h1>ZOO LIST</h1>  
      <thead>
        <th class="text-center">Name</th>
        <th class="text-center">Location</th>
      </thead>
      <tbody>
      <% zoos.forEach(function(el){ %> 
          <tr>
            <td><a href="/zoos/<%=el.id%>"><strong><%= el.name %></a></strong></td>   
            <td><%= el.location %></td>
          </tr>
       <% }) %>
      </tbody>
    </table>  
     <a href="/zoos/new" class="btn-lg btn-info text-center">ADD ZOO</a>
  </div>
  <div class="col-xs-3"></div>
<% include ../partials/footer %>